.levelList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.levelCard{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: auto;
    margin: 10px;
}

.levelCard .imageContainer{
    position: relative;
}

.levelImage{
    width: 100%;
    top: 0; 
    left: 0;
}

.intial{
    position: absolute;
}

.solution{
    position: relative;
}

@media only screen and (max-width: 767px) {
    .levelList{
        display: flex;
        flex-direction: column;
    }

    .levelCard{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 10px;
    }   
}